/* Variables globales */
:root {
    --primary-color: #ffffff;
    --secondary-color: #1a1a1a;
    --accent-color: #ff2e63; /* Rojo intenso para detalles */
    --font-family: 'Courier New', monospace;
  }
  
  /* Estilos generales */
  body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
  }
  
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navbar {
    background-color: transparent !important;
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    background-image: url('hero-intrusos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .lead {
    font-size: 1.5rem;
    color: var(--accent-color);
  }
  
  /* Tarjetas */
  .card {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
  }
  
  .card-title {
    color: var(--accent-color);
  }
  